<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card>
          <img-loader #cover [src]="ganaderia.photo" ></img-loader>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" color="light" class="ion-padding">
        <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
          <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
          <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12" color="light" class="ion-padding">
        <ion-text color="warning">
        <p class="text-20">{{ganaderia.nombre}}</p>
        </ion-text>
        <ion-text color="success">
          <p class="text-14">{{ganaderia.location}}</p>
        </ion-text>
        <ion-text color="light">
          <p class="text-14">{{ganaderia.date | date:'yyyy'}}</p>
        </ion-text>
      </ion-col>     
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4" color="light">
        <ion-text color="success">
          <p class="text-14">Propietario:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light">
        <ion-text color="light">
          <p class="text-14">{{ganaderia.propietario}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4" color="light">
        <ion-text color="success">
          <p class="text-14">Rancho:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light">
        <ion-text color="light">
          <p class="text-14">{{ganaderia.rancho}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4" color="light">
        <ion-text color="success">
          <p class="text-14">Ubicación:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light">
        <ion-text color="light">
          <p class="text-14">{{ganaderia.ubicacion}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-padding-horizontal">
      <ion-col size="4" color="light">
        <ion-text color="success">
          <p class="text-14">Denominación:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light">
        <ion-text color="light">
          <p class="text-14">El Correo</p>
        </ion-text>
      </ion-col>
    </ion-row> -->
    <ion-row class="ion-padding-horizontal">
      <ion-col size="4" color="light">
        <ion-text color="success">
          <p class="text-14">Divisa:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light">
        <ion-text color="light">
          <p class="text-14">{{ganaderia.divisa}}</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row [hidden]="!publicidades.length">
      <ion-col size="12" class="ion-padding">
        <ion-slides pager="true" [options]="slidePubOpts" >
          <ion-slide *ngFor="let p of publicidades; let i = index;">
            <ion-card class="ad-card" (click)="openBrowser(p.link)" >
              <img-loader useImg [src]="p.path"></img-loader>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>