ion-content {
  background: #311c23;
  --background: #311c23;
}

ion-item {
  background: transparent;
  --background: transparent;
}

ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

p {
  margin: 0;
}

img-loader {
  width: 100vw !important;
  height: 100vw !important;
  object-fit: cover;
  background-size: cover !important;
  background-position: center !important;
}

.loading-overlay {
  position: absolute;
  top: 1rem;
  left: 0%;
  width: calc(100%);
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  ion-spinner {
    font-size: 2rem;
  }
}
