<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="home" (click)="setOnIcon('home')">
      <ion-icon [src]="'../../assets/icon/home-' + (isHome ? 'fill' : 'vacio') + '.svg'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" (click)="setOnIcon('events')">
      <ion-icon [src]="'../../assets/icon/calendar-' + (isEvents ? 'fill' : 'vacio') + '.svg'"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photo" (click)="setOnIcon('photo')">
      <ion-icon [src]="'../../assets/icon/camera-' + (isPhoto ? 'fill' : 'vacio') + '.svg'"></ion-icon>
      <ion-label>Foto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guide" (click)="setOnIcon('guide')">
      <ion-icon [src]="'../../assets/icon/bull-' + (isGuide ? 'fill' : 'vacio') + '.svg'"></ion-icon>
      <ion-label>Aprendamos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
