ion-item {
  --background: transparent;
}

ion-card {
  & > ion-icon:first-of-type {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 2rem;
  }
  &.slider {
    margin: 0 6rem 0 0;
  }
  border-radius: 0.71rem;
  img-loader {
    height: 15rem !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100%;
    margin: 0;
  }
  &.events {
    margin: 0;
    img-loader {
      height: 8rem !important;
      background-position: center !important;
      background-size: cover !important;
      object-position: top;
    }
    .tag {
      &:not(:empty) {
        top: 15%;
      }
    }
    & > ion-icon:first-of-type {
      top: 15%;
    }
  }
  .tag {
    &.end {
      background: var(--ion-color-dark);
      color: #fff !important;
    }
    &.now {
      background: var(--ion-color-warning);
    }
    &.soon {
      background: var(--ion-color-success);
    }
    &:not(:empty) {
      position: absolute;
      width: 75%;
      top: 40%;
      left: 0;
      text-transform: uppercase;
      color: var(--ion-color-secondary);
      padding: 0.25rem 1.5rem;
    }
  }
  ion-label {
    p {
      margin: 0.25rem 0;
    }
  }
}

ion-item {
  ion-icon {
    margin: 0;
    margin-right: 1rem;
  }
}
