<ion-card color="primary" [ngClass]="source" class="ion-activatable" (click)="goToEventDetail($event)">
  <ion-icon class="ion-activatable" (click)="toggleFavorite($event)" [name]="isFavorite ? 'star' : 'star-outline'"
    color="warning">
  </ion-icon>
  <div class="tag text-12 semibold" [ngClass]="{'end':event.past,'now': event.now && !event.past, 'soon':!event.now && !event.past}">
    {{event.past ? 'FINZALIZADO' : (event.now ? 'EN ESTE MOMENTO' : 'PRÓXIMAMENTE')}}</div>
  <img-loader #img [src]="event.photo"></img-loader>
  <ion-card-content>
    <ion-label color="warning" class="ion-text-left">
      <p class="text-20 ion-text-uppercase">{{event.title}}</p>
    </ion-label>
    <ion-label color="success" class="ion-text-left">
      <p class="text-14">{{event.serial}}</p>
    </ion-label>
    <ion-item lines="none" class="ion-no-padding">
      <ion-icon slot="start" name="pin" color="success"></ion-icon>
      <ion-label color="light" class="ion-text-wrap text-14 ion-no-margin">{{event.place}}</ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-no-padding">
      <ion-icon slot="start" name="calendar" color="success"></ion-icon>
      <ion-label color="light" class="ion-text-wrap text-14 ion-no-margin">
        {{event.date | date:"dd \'de\' MMMM \/ hh:mm a"}}</ion-label>
    </ion-item>
  </ion-card-content>
  <ion-ripple-effect></ion-ripple-effect>
</ion-card>