ion-card{
    img-loader{
        width: 100% !important;
        height: 10rem !important;
        object-fit: cover;
        background-position: top !important;
        background-size: cover !important;
    }
}