<ion-card color="primary" class="ion-no-margin" (click)="seeTorero($event)">
  <img-loader [src]="torero.photo"></img-loader>
  <ion-card-content>
    <ion-text color="warning">
    <p class="text-20 ion-text-capitalize">{{torero.nombre}}</p>
    </ion-text>
    <ion-text color="success">
    <p class="text-14 ion-text-capitalize">{{torero.lugar}}</p>
    </ion-text>
    <ion-text color="light">
    <p class="text-14 ">{{torero.age}} años</p>
    </ion-text>
  </ion-card-content>
</ion-card>