ion-card {
  img-loader {
    height: 100% !important;
    max-height: 10rem !important;
    object-fit: cover;
    background-position: center !important;
    background-size: cover !important;
  }

  ion-item {
    background: transparent;
    --background: transparent;
  }
}
