<ion-card color="primary" class="ion-no-margin" (click)="seeGanaderia($event)">
  <ion-row>
    <ion-col size="4" class="ion-no-padding">
      <img-loader [src]="ganaderia.photo"></img-loader>
    </ion-col>
    <ion-col size="8" class="ion-no-padding">
      <ion-card-content>
        <ion-item lines="none" class="ion-no-padding">
          <ion-text color="warning" class="text-20 ion-text-capitalize">{{ganaderia.nombre}}</ion-text>
        </ion-item>
        <ion-text color="success">
          <p class="text-14 ion-text-capitalize"> {{ganaderia.lugar}}</p>
        </ion-text>
        <ion-text color="light">
          <p class="text-14">{{ganaderia.date | date:'yyyy'}}</p>
        </ion-text>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>