ion-content {
  background: #311c23;
  --background: #311c23;
}

ion-header {
  position: relative;
  background: #311c23;
  --background: #311c23;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.41rem 1.41rem;
    background: var(--ion-color-secondary);
    z-index: -1;
    animation: grow 300ms ease-in-out 50ms 1 normal;
  }

  ion-item {
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

ion-item {
  --background: transparent;
}

ion-card {
  &:not(.ad-card) {
    position: relative;
    overflow: hidden;
    // padding-top: 100%;
    box-sizing: border-box;
    height: 25rem;

    img-loader {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      background-position: center !important;
      background-size: cover !important;
    }

    .tag {
      &.end {
        background: var(--ion-color-dark);
        color: #fff !important;
      }
      &.now {
        background: var(--ion-color-warning);
      }
      &.soon {
        background: var(--ion-color-success);
      }
      &:not(:empty) {
        text-align: center;
        position: absolute;
        width: 75%;
        bottom: 15%;
        left: 0;
        text-transform: uppercase;
        color: var(--ion-color-secondary);
        padding: 0.25rem 1.5rem;
      }
    }

    ion-icon {
      position: absolute;
      bottom: 10%;
      right: 5%;
      font-size: 2.5rem;
    }
  }
}
.show {
  opacity: 1;
  height: 100%;
  animation: fadeIn 0.5s ease-in-out 0s 1 normal;
}

.hide {
  opacity: 0;
  height: 0%;
  overflow: hidden;
  animation: fadeOut 0.5s ease-in-out 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes show {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
