<ion-header #header>
  <ion-toolbar>
    <ion-item slot="start" class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">{{event.title}}</ion-label>
    </ion-item>
    <ion-avatar slot="end" class="ion-activatable" (click)="goToProfile()">
      <ion-img [src]="user.photo"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
  <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <ion-segment (ionChange)="segmentChanged($event)" value="resumen">
          <ion-segment-button value="resumen">
            <ion-label class="text-12 semibold">Resumen</ion-label>
          </ion-segment-button>
          <ion-segment-button value="toreros">
            <ion-label class="text-12 semibold">Toreros</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ganaderias">
            <ion-label class="text-12 semibold">Ganaderías</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-no-padding" [hidden]="!event">
  <ion-refresher color="warning" pullFactor="0.5" pullMin="100" pullMax="200" slot="fixed"
    (ionRefresh)="getEvent($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid [ngClass]="{'show':segmentSelected == 'resumen','hide':segmentSelected != 'resumen'}">

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-card #imgCard class="ion-no-margin">
          <img-loader [src]="event.photo"></img-loader>
          <div class="tag text-12 semibold"
            [ngClass]="{'end':event.past,'now': event.now && !event.past, 'soon':!event.now && !event.past}">
            {{event.past ? 'FINALIZADO' : (event.now ? 'EN ESTE MOMENTO' : 'PRÓXIMAMENTE')}}
          </div>
          <ion-icon class="ion-activatable" (click)="toggleFavorite($event)"
            [name]="isFavorite ? 'star' : 'star-outline'" color="warning">
          </ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="12" class="ion-no-padding">
        <ion-label color="warning" class="ion-text-left">
          <p class="text-20 ion-text-uppercase">{{event.title}}</p>
        </ion-label>
        <ion-label color="success" class="ion-text-left">
          <p class="text-14">{{event.serial}}</p>
        </ion-label>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" name="pin" color="success"></ion-icon>
          <ion-label color="light" class="ion-text-wrap text-14">{{event.place}}</ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-icon slot="start" name="calendar" color="success"></ion-icon>
          <ion-label color="light" class="ion-text-wrap text-14">{{event.date| date:"dd \'de\' MMMM \/ hh:mm a"}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let p of publicidades; let i = index;">
            <ion-card class="ad-card" (click)="openBrowser(p.link)">
              <img-loader useImg [src]="p.path"></img-loader>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">resumen de la corrida</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" size-md="6" *ngFor="let item of event.toreros">
            <item-card [item]="item" [source]="'torero'" [canSee]="false"></item-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">ganaderías</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" size-md="6" *ngFor="let ganaderia of event.ganaderias">
            <ganaderia-card [ganaderia]="ganaderia" [canSee]="true"></ganaderia-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="event.abstract && event.abstract.contenido">
      <ion-col size="12" class="ion-padding">
        <ion-button (click)="seeFestejo($event)" expand="block" color="warning">RESÚMEN DE LA CORRIDA</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-grid [ngClass]="{'show':segmentSelected == 'toreros','hide':segmentSelected != 'toreros'}">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" size-md="6" *ngFor="let torero of event.toreros">
            <torero-card [torero]="torero"></torero-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [ngClass]="{'show':segmentSelected == 'ganaderias','hide':segmentSelected != 'ganaderias'}">
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-row class="ion-margin-bottom">
          <ion-col size="12" size-md="6" *ngFor="let ganaderia of event.ganaderias">
            <ganaderia-card [ganaderia]="ganaderia" [canSee]="true"></ganaderia-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="publicidades.length">
      <ion-col size="12" class="ion-padding">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let p of publicidadesGanaderias; let i = index;">
            <ion-card class="ad-card" (click)="openBrowser(p.link)">
              <img-loader useImg [src]="p.path"></img-loader>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>