ion-content {
  background: #311c23;
  --background: #311c23;
}

ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

ion-item{
    background: transparent;
    --background: transparent;
}

div {
  color: #ffffff;
}

video{
  width: 100%;
}

img-loader{
  width: 100% !important;
  img{
    width: 100% !important;
    height: auto !important;
  }
}

