<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <img-loader (click)="seePhoto()" useImg  #cover *ngIf="!content.multimedia_type || content.multimedia_type == 'image'" [src]="content.photo"></img-loader>
        <video #cover  controls="true" *ngIf="content.multimedia_type && content.multimedia_type == 'video'" preload="auto" width="100%" height="100%">
          <source [src]="content.photo" type="video/mp4">
        </video>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <ion-col size="12" color="light" class="ion-padding">
        <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
          <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
          <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
        </ion-item>
      </ion-col> -->
      <ion-col size="12" *ngIf="nombre" class="ion-padding">
        <ion-label color="warning" class="ion-text-uppercase text-20">{{nombre}}</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-padding-horizontal">
        <div class="text-14" [innerHTML]="html"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>