<ion-list lines="none">
  <ion-list-header>
    <ion-label color="primary" class="text-14 ion-text-capitalize text-14">Selecciona un mes</ion-label>
  </ion-list-header>
  <ion-item (click)="filterBy(0)">
    <ion-label class="ion-text-wrap text-14">Todos</ion-label>
  </ion-item>
  <ion-item (click)="filterBy(month)" *ngFor="let month of months">
    <ion-label class="ion-text-wrap text-14 ion-text-capitalize">{{month}}</ion-label>
  </ion-item>
</ion-list>