<ion-header>
  <ion-toolbar>
    <ion-item lines="none" slot="start" (click)="shareOptions()">
      <ion-label color="light">Compartir</ion-label>
    </ion-item>
    <ion-item lines="none" slot="end" (click)="closePreview()">
      <ion-label color="light">Cerrar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-item lines="none">
    <ion-button shape="round" slot="end" fill="clear" color="light" (click)="shareOptions()">
      <ion-icon name="share" mode="md"></ion-icon>
    </ion-button>
    <ion-button shape="round" slot="end" fill="clear" color="light" (click)="closePreview()">
      <ion-icon name="close" mode="md"></ion-icon>
    </ion-button>
  </ion-item> -->
  <ion-grid>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <div class="swiper-zoom-container">
          <img useImg [src]="image">
        </div>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>