ion-item {
  --background: transparent;
  // margin-top: 40px;
  ion-icon {
    font-size: 2rem;
  }
  position: relative;
  z-index: 10;
}
ion-header {
  --background: rgba(var(--ion-color-secondary-rgb), 0.75);
  background: rgba(var(--ion-color-secondary-rgb), 0.75);
}

ion-content {
  --background: rgba(var(--ion-color-secondary-rgb), 0.75);
}

 ion-grid {
   height: 100%;
   display: flex;
   align-items: center;
 }

img {
  width: 100%;
}

.swiper-container {
  overflow: unset !important;
}
