<ion-header traslucent #header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="!imageEditedBase64 ? goBack() : clear($event)">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-padding" [hidden]="imageEditedBase64">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-no-padding">
        <canvas #imageCanvas width="1024" height="1024"></canvas>
        <div class="canvas-col" [hidden]="canvasHasLoaded">
          <ion-spinner name="crescent" color="warning"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-no-padding">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">selecciona un marco</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-slides pager="false" [options]="slideOpts">
          <ion-slide [ngClass]="{'selected': selectedFrame == frame}" (click)="selectFrame(frame)"
            (click)="selectFrame(frame)" *ngFor="let frame of frames; let i = index;">
            <frame-item [frame]="frame"></frame-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button (click)="exportCanvasImage()" expand="block" color="warning">CONTINUAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding" [hidden]="!imageEditedBase64">
    <ion-row>
      <ion-col size="12">
        <img [src]="imageEditedBase64">
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col size="12" class="ion-no-padding">
        <ion-text color="warning" class="ion-text-center">
          <p class="text-20 ion-no-margin">¡Comparte tu foto!</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-no-padding">
        <div (click)="shareFacebook()" class="fb ion-activatable text-center round">
          <img src="assets/icon/facebook-logo.svg">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <div (click)="shareTwitter()" class="tw ion-activatable text-center round">
          <img src="assets/icon/twitter-logo.svg">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col size="3" class="ion-no-padding">
        <div (click)="shareInstagram()" class="ig ion-activatable text-center round">
          <img src="assets/icon/instagram-logo.svg">
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-no-padding">
        <ion-button expand="block" color="warning" (click)="saveToGallery()">
          <ion-label class="ion-text-uppercase">Guardar en galería</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>