ion-content {
  background: #311c23 !important;
  --background: #311c23 !important;
  img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
}

ion-item {
  background: transparent;
  --background: transparent;
}

ion-slides {
  ion-slide {
    transition: opacity 0.25s linear;
    transform: scale(1);
    opacity: 0.65;
    &:not(.swiper-slide-active) {
        pointer-events: unset;
      }
    &.selected {
      opacity: 1;
    //   box-shadow: 0rem 0rem 0.25rem rgba(var(--ion-color-warning-rgb),0.5);
    }
  }
  padding: 2rem 0 0 0 !important;
}

canvas{
  margin: 1rem auto;
  width: calc(100vw - 36px);
  height: calc(100vw - 36px);
}

.canvas-col{
  position: absolute;
  top:1rem;
  left:0%;
  width: calc(100vw - 36px);
  height: calc(100vw - 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.75);
  ion-spinner{
    font-size: 2rem;
  }
}


.round {
  border-radius: 50%;
  width: 4rem !important;
  height: 4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  img{
    width: 50% !important;
    height: 100% !important;
    background-position: center !important;
    background-size: cover !important;
  }

  &.fb {
    background: #3b5998;
  }
  &.tw {
    background: #26a7de;
  }
  &.ig{
    font-size: 2.5rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
}

ion-avatar{
  img-loader{
    width: 100% !important;
    background-position: center !important;
    background-size: cover !important;
  }
}