<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <img-loader class="torero" [src]="torero.photo"></img-loader>
      </ion-col>
      <ion-col size="12" color="light" class="ion-padding">
        <ion-text color="warning">
          <p class="text-20">{{torero.nombre}}</p>
        </ion-text>
        <ion-text color="success">
          <p>{{torero.lugar}}</p>
        </ion-text>
        <ion-text color="light">
          <p>{{torero.age}} años</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-padding-horizontal">
      <ion-col size="12">
        <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
          <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
          <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row class="ion-padding">
      <ion-col size="12" size-md="6" class="ion-margin-bottom" *ngFor="let toro of toros">
        <toro-card [toro]="toro"></toro-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>