ion-content {
  background: #311c23;
  --background: #311c23;
}
ion-item {
  background: transparent;
  --background: transparent;
}
ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

  img-loader.torero{
    width: 100vw !important;
    height: 100vw !important;
    object-fit: cover;
    background-size: cover !important;
    background-position: top !important;
  }

  p {
    margin: 0;
  }