<ion-header traslucent #header>
  <ion-toolbar>
    <ion-img slot="start" src="assets/icon/logo-ole-blanco.svg"></ion-img>
    <ion-avatar *ngIf="user" slot="end" class="ion-activatable" (click)="goToProfile()">
      <ion-img [src]="user.photo"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-no-padding">

  <ion-refresher color="warning" pullFactor="0.5" pullMin="100" pullMax="200" slot="fixed"
    (ionRefresh)="getEvents($event)">
    <ion-refresher-content pullingIcon="arrow-down" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">Próximos eventos</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="events && events.length">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let event of events; let i = index;">
            <card-event [event]="event" [source]="content && content.el.offsetWidth <= 767 ? 'slider' : ''">
            </card-event>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="events && !events.length">
        <ion-slides [options]="slideOpts">
          <ion-slide>
            <ion-text color="warning" class="ion-text-center">
              <h3>No hay eventos disponibles por el momento.</h3>
            </ion-text>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="spaces && spaces.length && publicidades.length">
      <ion-col size="12">
        <ion-slides #slider pager="true" [options]="slidePubOpts">
          <ion-slide *ngFor="let p of publicidades; let i = index;">
            <ion-card class="ad-card" (click)="openBrowser(p.link)">
              <img-loader useImg [src]="p.path"></img-loader>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom" [hidden]="!favEvents || favEvents.length == 0">
      <ion-col size="12" class="ion-no-padding">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">Tus eventos guardados</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let event of favEvents; let i = index;">
            <card-event [event]="event" [source]="content && content.el.offsetWidth <= 767 ? 'slider' : ''">
            </card-event>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>