ion-content {
  --offset-top: 76px;
  background: #311c23;
  --background: #311c23;
  margin-top: 76px;
}

ion-header {
  ion-item {
    background: transparent;
    --background: transparent;
  }
  background: #311c23;
  --background: #311c23;
}

ion-slides {
  ion-slide {
    transform: scale(0.8);
    filter: saturate(50%);
    transition: transform 0.25s linear, filter 0.25s linear;
    &:not(.swiper-slide-active) {
      pointer-events: none;
    }
    &.swiper-slide-active {
      filter: saturate(100%);
      transform: scale(1) !important;
    }
  }
  --bullet-background-active: var(--ion-color-warning) !important;
  --bullet-background: rgba(var(--ion-color-light-rgb), 0.2);
  padding: 2rem 0 !important;

  .swiper-pagination {
    bottom: 0% !important;
  }
}
