<ion-card color="primary" class="ion-no-margin">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <img-loader [src]="toro.photo_path"></img-loader>
    </ion-col>
    <ion-col size="12">
      <ion-card-content>
        <ion-text color="light">
          <p class="text-14 ion-text-capitalize"><span class="font-weight-bold">Toro:</span> {{toro.nombre}} - {{toro.numero}}</p>
        </ion-text>
        <ion-text class="ion-padding-top" color="light">
          <p class="text-14 ion-text-capitalize"><span class="font-weight-bold">Ganadería:</span> <span class="link"
              (click)="seeGanaderia(toro.ganaderia)">{{toro.ganaderia.nombre}}</span></p>
          <p class="text-14"><span class="font-weight-bold">Peso:</span> {{toro.peso}} kg.</p>
          <p class="text-14 ion-text-capitalize"><span class="font-weight-bold ion-text-capitalize">Cornamenta:</span>
            <span (click)="seeDetail(toro.cornamenta)"
              class="link ion-text-capitalize">{{toro.cornamenta.nombre}}</span> </p>
          <p class="text-14 ion-text-capitalize"><span class="font-weight-bold ion-text-capitalize">Pinta:</span>
            <span (click)="seeDetail(toro.pinta)" class="link ion-text-capitalize">{{toro.pinta.nombre}}</span></p>
        </ion-text>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>