img-loader{
    width: 100% !important;
    height: 35vh !important;
    max-height: 35vh !important;
    object-fit: cover;
    background-position: center !important;
    background-size: cover !important;
}

p{
    span:first-of-type{
        margin-right: 0.5rem;
    }
}