ion-card {
  border-radius: 0.71rem;
  background: rgba(0, 0, 0, 0.25);
  margin: 0rem;
  margin-right: 1rem;
  width: 7.143rem;
  height: 7.143rem;
  img-loader{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
  }
}
