<ion-header #header>
  <ion-toolbar>
    <ion-label slot="start" color="warning" class="ion-text-uppercase text-20">APRENDAMOS</ion-label>
    <ion-avatar slot="end" class="ion-activatable" (click)="goToProfile()">
      <ion-img [src]="user.photo"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-grid class="ion-padding">
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-text color="warning" class="ion-text-uppercase">
          <p class="text-20 ion-no-margin">TEMAS</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top" >
      <ion-col size="12" *ngIf="topics.length">
        <ion-list lines="none">
          <ion-item class="ion-no-padding" (click)="seeItem(topic)" *ngFor="let topic of topics">
          <ion-label class="ion-text-wrap text-14" color="success">{{topic.title}}</ion-label>
            <ion-icon slot="end" color="warning" name="arrow" type="md" name="arrow-dropright"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="12" *ngIf="!topics.length">
        <ion-text color="warning" class="ion-text-center">
          <h3>No hay temas por el momento.</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>