ion-content {
  background: #311c23;
  --background: #311c23;
}

ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

ion-list {
  background: transparent;
  --background: transparent;
  ion-item {
    --background: transparent;
    background: transparent;
  }
}
