// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #960920;
  --ion-color-primary-rgb: 150, 9, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #84081c;
  --ion-color-primary-tint: #a12236;

  --ion-color-secondary: #571827;
  --ion-color-secondary-rgb: 87, 24, 39;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4d1522;
  --ion-color-secondary-tint: #682f3d;

  --ion-color-tertiary: #503007;
  --ion-color-tertiary-rgb: 80, 48, 7;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #462a06;
  --ion-color-tertiary-tint: #624520;

  --ion-color-success: #db7940;
  --ion-color-success-rgb: 219, 121, 64;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #c16a38;
  --ion-color-success-tint: #df8653;

  --ion-color-orange: #db7940;
  --ion-color-orange-rgb: 219, 121, 64;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #c16a38;
  --ion-color-orange-tint: #df8653;

  --ion-color-warning: #ffc300;
  --ion-color-warning-rgb: 255, 195, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac00;
  --ion-color-warning-tint: #ffc91a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;

  --ion-color-medium: #1f0c0c;
  --ion-color-medium-rgb: 31, 12, 12;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #1b0b0b;
  --ion-color-medium-tint: #352424;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}

html {
  font-family: proxima-nova, sans-serif;
  --ion-font-family: proxima-nova;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background: var(--ion-color-secondary);
}

body{
  background: var(--ion-color-secondary);

}


