<ion-app>
  <div class="splash" [hidden]="!showSplash">
    <div class="overlay"></div>
    <img-loader class="img-splash" *ngIf="spaceService.spacesReady" [src]="spaceService.currentSplash.path" (load)="initSplashScreen($event)" ></img-loader>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
