.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: url('../assets/fondo01-login.jpg');
  background-size: cover;
  background-position: center !important;
  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
    --background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
    z-index: 2;
  }
  img-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    background-position: center !important;
    background-size: cover !important;
    z-index: 3;
  }
}


