<ion-header #header>
  <ion-toolbar class="ion-margin-top">
    <ion-item slot="start" (click)="goBack()" lines="none">
      <ion-icon color="warning" class="ion-text-uppercase text-20" type="md" name="arrow-dropleft">
      </ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">registrarse</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="overlay"></div>
  <img-loader src="assets/fondo01-login.jpg"></img-loader>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10">
        <form [formGroup]="formGroup">
          <ion-row class="ion-no-padding" lines="none">
            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-label position="floating" class="ion-text-uppercase text-14">correo electrónico</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('email').untouched && formGroup.get('email').invalid">
                <small *ngIf="formGroup.get('email').errors?.required">Es necesario tu correo.</small>
                <small *ngIf="formGroup.get('email').errors?.email">El correo escrito es inválido, intenta con otro por
                  favor.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding" lines="none">
            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-label position="floating" class="ion-text-uppercase text-14">contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('password').untouched && formGroup.get('password').invalid">
                <small *ngIf="formGroup.get('password').errors?.required">Es necesario que tengas una
                  contraseña.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding" lines="none">
            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-label position="floating" class="ion-text-uppercase text-14">confirmar contraseña</ion-label>
                <ion-input type="password" formControlName="passwordR"></ion-input>
              </ion-item>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('passwordR').untouched && formGroup.get('passwordR').invalid">
                <small *ngIf="formGroup.get('passwordR').errors?.isNotEqual">No son iguales las contraseñas que
                  escribiste.</small>
                <small *ngIf="formGroup.get('passwordR').errors?.required">Es necesario confirmar tu contraseña.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col size="2">
                  <ion-checkbox formControlName="terms"></ion-checkbox>
                </ion-col>
                <ion-col size="10">
                  <ion-label class="ion-text-wrap text-10" color="light">He leído y acepto los <ion-label color="warning"
                      class="ion-text-wrap ion-no-padding text-10 link" (click)="openBrowser(site_url + '/terminos-y-condiciones')"> Términos y Condiciones de Uso </ion-label> y las
                    <ion-label color="warning" class="ion-text-wrap link ion-no-padding text-10" (click)="openBrowser(site_url + '/politicas-de-privacidad')">Políticas de Privacidad
                      de la aplicación</ion-label>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('terms').untouched && formGroup.get('terms').invalid">
                <small>Es necesario aceptar términos y condiciones.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
              <ion-button (click)="register()" expand="block" color="warning" class="ion-text-uppercase">crear cuenta
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>