<ion-header #header>
  <ion-toolbar>
    <ion-label slot="start" color="warning" class="ion-text-uppercase text-20">FOTOMARCO</ion-label>
    <ion-avatar slot="end" class="ion-activatable" (click)="goToProfile()">
      <ion-img [src]="user.photo"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <div class="overlay"></div>
    <img-loader class="bw" src="assets/bg-photo.jpg"></img-loader>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center" color="warning">
          <p class="text-20">¡Agrega un marco especial a tus fotos favoritas!</p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-between">
      <ion-col size="12" size-md="6">
        <ion-button (click)="takePicture()" expand="block" color="warning" class="ion-text-uppercase">TOMAR FOTO
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-button (click)="fromGallery()" expand="block" color="warning" class="ion-text-uppercase">subir de tus
          archivos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>