ion-content {
  background: var(--ion-color-secondary);
  --background: var(--ion-color-secondary);
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
    --background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
  }
  img-loader {
    &.bw {
      filter: grayscale(1);
      position: absolute;
      z-index: 0;
      width: 100% !important;
      height: 100% !important;
      top: 0;
      left: 0;
      object-fit: cover;
      background-position: center !important;
      background-size: cover !important;
    }
  }
}
ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > ion-row{
    position: relative;
    z-index: 5;
  }
}
