ion-content {
  background: #311c23;
  --background: #311c23;
  --offset-top: 0px !important;
  --offset-bottom: 0px !important;
}
ion-header {
  position: relative;
  background: #311c23;
  --background: #311c23;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 1.41rem 1.41rem;
    background: var(--ion-color-secondary);
    z-index: -1;
    animation: grow 300ms ease-in-out 50ms 1 normal;
  }
}

ion-item {
  background: transparent;
  --background: transparent;
  --border-color: var(--ion-color-warning);
  color: var(--ion-color-warning);
}

@keyframes grow {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

ion-slide {
  width: 100% !important;
}

card-event {
  width: 100% !important;
}
