<ion-header #header>
  <ion-toolbar>
    <ion-label slot="start" color="warning" class="ion-text-uppercase text-20">EVENTOS</ion-label>
    <ion-avatar slot="end" class="ion-activatable" (click)="goToProfile()">
      <ion-img [src]="user.photo"></ion-img>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
  <ion-row class="ion-padding-bottom ion-padding-end">
    <ion-col size="12">
      <ion-item (click)="openSerialesOptions()">
        <ion-label class="ion-text-uppercase text-14">{{serial? (serial.title == 'Todos' ?  'catálogo de eventos' : serial.title) : 'catálogo de eventos'}}</ion-label>
        <ion-icon name="arrow-down" mode="ios" color="warning"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content fullscreen class="ion-no-padding">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding ion-margin-bottom">
        <ion-text color="warning" class="ion-text-uppercase">
        <p class="text-20 ion-no-margin">{{serial ? serial.title : 'TODOS'}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-no-padding ion-margin-bottom">
        <ion-item (click)="openMonthsOptions()" class="ion-no-padding">
          <ion-label class="ion-text-uppercase text-14">{{eventService.params.month ? eventService.params.month : 'seleccionar mes'}}</ion-label>
          <ion-icon name="arrow-down" mode="ios" color="warning"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12"  class="ion-no-padding" *ngIf="events.length">
        <ion-row class="ion-margin-bottom" >
          <ion-col size="12" size-md="6" *ngFor="let event of events;let i=index" class="ion-padding"> 
            <card-event [event]="event" [source]="'events'"></card-event>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-no-padding" *ngIf="!events.length">
        <ion-slides >
          <ion-slide>
            <ion-text color="warning" class="ion-text-center">
              <h3>No hay eventos disponibles por el momento.</h3>
            </ion-text>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>