ion-item {
  background: transparent;
  --background: transparent;
}

ion-content {
  background: #311c23;
  --background: #311c23;

  ion-avatar {
    width: 15rem !important;
    height: 15rem !important;
    margin: 0 auto !important;
  }
}

ion-toogle {
  --background:rgba(var(--ion-color-warning-rgb),0.4);
  --handle-background: rgba(var(--ion-color-warning-rgb),0.4);
  padding: 0.5rem !important;

  .toogle-icon {
    border: 1px solid var(--ion-color-success) !important;
    .toogle-inner {
      border: 1px solid var(--ion-color-success) !important;
    }
  }
}
