<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20 ">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-margin-top">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="ion-padding">
        <ion-avatar (click)="presentActionSheet()">
          <ion-img [src]="user.photo"></ion-img>
        </ion-avatar>        
      </ion-col>
      <ion-col size="12" size-md="10" class="ion-text-center">
        <ion-text color="warning"><p class="text-14">{{user.email}}</p></ion-text>      
      </ion-col>
      <ion-col size="12" size-md="10">
        <ion-text class="ion-text-uppercase" color="warning">
          <p class="text-20">notificaciones</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="10">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label color="light" class="text-14">Activar notificaciones en tu celular</ion-label>
          <ion-toggle [(ngModel)]="user.notification_app" #not_app (click)="toggleNotification('app',not_app.checked)" color="warning"></ion-toggle>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label color="light" class="text-14">Activar notificaciones por correo</ion-label>
          <ion-toggle [(ngModel)]="user.notification_email" #not_email (click)="toggleNotification('email',not_email.checked)" color="warning"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="10">
        <ion-button (click)="logOut()" expand="block" color="warning" class="ion-text-uppercase">CERRAR SESIóN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>