ion-content {
  background: #311c23;
  --background: #311c23;
}

ion-item {
  background: transparent;
  --background: transparent;
}

ion-header {
  background: var(--ion-color-secondary);
  border-radius: 0 0 1.42rem 1.42rem;
  ion-item {
    --background: transparent;
    background: transparent;
    --border-color: var(--ion-color-warning);
    color: var(--ion-color-warning);
  }
}

img-loader{
  width: 100vw !important;
  height: 100vw !important;
  object-fit: cover;
  background-position: top !important;
  background-size: cover !important;
}

p {
  margin: 0;
}

.round {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fb {
    background: #3b5998;
  }
  &.tw {
    background: #26a7de;
  }
  &.ig{
    font-size: 1.5rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
}

.no-vertical{
  margin-top: 0;
  margin-bottom: 0;
}
