<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none" (click)="goBack()">
      <ion-icon color="warning" slot="start" type="md" name="arrow-dropleft"></ion-icon>
      <ion-label color="warning" class="ion-text-uppercase text-20">regresar</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="publicidades.length">
      <ion-col size="12" class="ion-padding">
        <ion-slides pager="true" [options]="slidePubOpts">
          <ion-slide *ngFor="let p of publicidades; let i = index;">
            <ion-card class="ad-card " (click)="openBrowser(p.link)">
              <img-loader useImg [src]="p.path"></img-loader>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin-horizontal" [ngClass]="{'no-vertical': publicidades.length}">
          <img-loader #cover [src]="torero.photo"></img-loader>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" color="light" class="ion-padding">
        <ion-text color="warning">
          <p class="text-20">{{torero.nombre}}</p>
        </ion-text>
        <ion-text color="success">
          <p>{{torero.lugar}}</p>
        </ion-text>
        <ion-text color="light">
          <p>{{torero.age}} años</p>
        </ion-text>
      </ion-col>
      <ion-col size="4" color="light" class="ion-padding">
        <ion-row>
          <ion-col size="4" *ngIf="torero.facebook">
            <div class="round fb ion-activatable">
              <ion-icon src="assets/icon/facebook-logo.svg" (click)="openBrowser(torero.facebook)"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
          <ion-col size="4" *ngIf="torero.twitter">
            <div class="round tw ion-activatable">
              <ion-icon src="assets/icon/twitter-logo.svg" (click)="openBrowser(torero.twitter)"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
          <ion-col size="4" *ngIf="torero.instagram">
            <div class="round ig ion-activatable">
              <ion-icon siz src="assets/icon/instagram-logo.svg" (click)="openBrowser(torero.instagram)"></ion-icon>
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" color="light" class="ion-padding">
        <ion-text color="success">
          <p class="text-14">Nacimiento:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light" class="ion-padding">
        <ion-text color="light">
          <p class="text-14">{{torero.birthday | date:'dd \'de\' MMMM \'del\' yyyy'}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" color="light" class="ion-padding">
        <ion-text color="success">
          <p class="text-14">Alternativa:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light" class="ion-padding">
        <ion-text color="light">
          <p class="text-14">{{torero.alternativa}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" color="light" class="ion-padding">
        <ion-text color="success">
          <p class="text-14">Padrino de alt.:</p>
        </ion-text>
      </ion-col>
      <ion-col size="8" color="light" class="ion-padding">
        <ion-text color="light">
          <p class="text-14">{{torero.padrino_alternativa}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>