/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--ion-color-success);
}

img-loader{
  width: 100% !important;
  img{
    width: 100% !important;
    height: auto !important;
  }

  ion-icon{
    font-size: 2rem !important;
    color: var(--ion-color-warning) !important;
  }
}


ion-header {
  background: transparent;
  --background: transparent;
  ion-toolbar {
    --padding-top: 2rem;
    --padding-bottom: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --opacity: 0;
    --border-width: 0;
    --border-color: transparent;
  }
  &::after {
    background-image: none !important;
  }
}

ion-refresher {
  z-index: 1;
  .refresher-refreshing {
    .refresher-refreshing-text {
      color: var(--ion-color-warning);
    }
  }
  ion-spinner,
  ion-icon {
    color: var(--ion-color-warning);
  }
}

ion-checkbox {
  --border-radius: 0 !important;
  --background: transparent;
  --border-color: var(--ion-color-success);
  // border: 1px solid var(--ion-color-warning);
  --checkmark-color: var(--ion-color-warning);
  --border-color-checked: var(--ion-color-warning);
  --background-checked: var(--ion-color-warning);
  --border-width: 1px;
  --transition: linear;
}

.text-20 {
  font-size: 1.42rem !important;
  font-weight: 600;
  font-style: normal;
}

.text-14 {
  font-size: 1rem !important;
  font-weight: 400;
  font-style: normal;
}

.text-12 {
  font-size: 0.857rem !important;
  font-weight: 400;
  font-style: normal;
}

.text-10 {
  font-size: 0.714rem !important;
  font-weight: 400;
  font-style: normal;
}

.text-8 {
  font-size: 0.571rem !important;
  font-weight: 400;
  font-style: normal;
}

.link {
  text-decoration: underline;
}

.semibold {
  font-weight: 600;
}

ion-tab-bar {
  ion-tab-button {
    &.tab-selected {
      color: var(--ion-color-warning);
    }
    ion-icon {
      margin-bottom: 0.5rem;
    }
    color: var(--ion-color-success);
    --ripple-color: var(--ion-color-warning);
    font-size: 0.571rem;
  }

  display: flex;
  justify-content: center;
  height: 5rem;
  padding: 0.25rem 3rem 0.5rem 3rem;
}

.ad-card {
  width: 100%;
  height: 15rem;
  margin: 2rem 0;
  img-loader {
    img{
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}

ion-segment-button {
  --background: var(--ion-color-secondary);
  --background-activated: var(--ion-color-warning);
  --background-checked: var(--ion-color-warning);
  --border-radius: 5rem;
  border-radius: 5rem;
  --border-color: var(--ion-color-secondary);
  --color: var(--ion-color-success);
  --color-checked: var(--ion-color-secondary);
  text-transform: uppercase;
}

ion-button[color="warning"] {
  --color: var(--ion-color-secondary);
  color: var(--ion-color-secondary);
}

.loader-custom {
  ion-backdrop {
    background: rgba(0, 0, 0, 0.75) !important;
  }
  & .loading-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.75) !important;
    ion-spinner {
      --color: var(--ion-color-warning) !important;
      color: var(--ion-color-warning) !important;
    }
  }
}

.custom-actionsheet {
  .action-sheet-wrapper {
    .action-sheet-group {
      .action-sheet-title {
        text-transform: uppercase;
        font-weight: bold !important;
        font-size: 1.25rem !important;
        color: #fff !important;
        background: rgba(0, 0, 0, 0.75) !important;
        border-bottom: 1px solid black;
      }
      background: transparent;
      button {
        background: rgba(0, 0, 0, 0.75);
        color: var(--ion-color-warning);
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.link {
  color: var(--ion-color-warning);
  text-decoration: underline;
}

ion-button {
  &.fb {
    --background: #3b5998;
  }
}

.frego-alert {
  .alert-wrapper {
    background: rgba(0, 0, 0, 0.75) !important;
    .alert-head {
      .alert-sub-title {
        color: #fff;
      }
      .alert-title {
        color: #fff;
      }
    }
    .alert-button-group {
      button {
        color: var(--ion-color-warning);
      }
    }
  }
}

.frego-alert .alert-wrapper .alert-head .alert-title {
  color: #fff !important;
}

ion-modal {
  --width: 100% !important;
  --height: 100% !important;
}


.photo-modal{
  .modal-wrapper{
    background: transparent !important;
    background: transparent !important;
  }
}