<ion-list lines="none">
  <ion-list-header>
    <ion-label color="primary" class="text-14 ion-text-capitalize text-14">Selecciona serial</ion-label>
  </ion-list-header>
  <ion-item (click)="filterBy({serial_id:0})">
    <ion-label class="ion-text-wrap text-14">Todos</ion-label>
  </ion-item>
  <ion-item (click)="filterBy(serial)" *ngFor="let serial of seriales">
    <ion-label class="ion-text-wrap text-14">{{serial.title}}</ion-label>
  </ion-item>
</ion-list>