ion-list{
    --min-width: 85vw;
    --max-width: 85vw;
    --width: 85vw;
}

.custom-popover{
    .popover-wrapper{
        border-radius: 1.41rem !important;
        --width: 95vw;
        .popover-content {
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%,-50%) !important;
        }
    }
}