<ion-card color="primary" class="ion-no-margin" (click)="seeItem($event)">
  <ion-row>
    <ion-col size="4" class="ion-no-padding" (click)="seeTorero(item)">
      <img-loader [src]="item.photo"></img-loader>
    </ion-col>
    <ion-col size="8" class="ion-no-padding">
      <ion-card-content>
        <ion-item lines="none" class="ion-no-padding ion-margin-bottom" (click)="seeTorero(item)">
          <ion-text color="warning" class="text-20 ion-text-capitalize">{{item.nombre}}</ion-text>
        </ion-item>
        <ion-text *ngIf="item.toros.length" color="warning" (click)="seeToros(item)"> <p class="ion-text-center link">VER TOROS</p></ion-text>
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-card>