<ion-content fullscreen>
  <div class="overlay"></div>
  <img-loader src="assets/fondo01-login.jpg"></img-loader>
  <ion-grid class="ion-padding" slot="fixed">
    <ion-row class="ion-no-padding ion-justify-content-center" lines="none">
      <ion-col size="5" size-md="5" class="ion-no-padding">
        <ion-img src="assets/icon/logo-ole.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center"
      [ngClass]="{'a-bottom':(time>=0 && time< 1500),'a-normal': time >= 800 && time< 1500,'show':time >= 1000 && time< 1500}">
      <ion-col size="12" size-md="10">
        <form [formGroup]="formGroup">
          <ion-row class="ion-no-padding" lines="none">
            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-label position="floating" class="ion-text-uppercase text-14">correo electrónico</ion-label>
                <ion-input type="email" formControlName="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('email').untouched && formGroup.get('email').invalid">
                <small *ngIf="formGroup.get('email').errors?.required">El correo es necesario para iniciar
                  sesión.</small>
                <small *ngIf="formGroup.get('email').errors?.email">Correo proporcionado inválido.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding" lines="none">
            <ion-col size="12" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-label position="floating" class="ion-text-uppercase text-14">contraseña</ion-label>
                <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <ion-text color="warning" class="ion-padding-start"
                *ngIf="!formGroup.get('password').untouched && formGroup.get('password').invalid">
                <small *ngIf="formGroup.get('password').errors?.required"> Es necesaria tu constraseña para iniciar
                  sesión.</small>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
              <ion-button (click)="login()" expand="block" color="warning" class="ion-text-uppercase">iniciar sesión
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding ion-text-center">
              <ion-label color="light" class="ion-margin-end text-10">¿No tienes una cuenta?</ion-label>
              <ion-label color="warning" (click)="goToRegister()" class="ion-activatable text-10">
                ¡Regístrate aquí!
                <ion-ripple-effect></ion-ripple-effect>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <div class="line ion-margin-vertical"></div>
            <ion-col size="12" class="ion-no-padding">
              <ion-button (click)="logInByFacebook()" expand="block" class="fb ion-text-uppercase">
                <ion-icon name="logo-facebook" slot="start"></ion-icon>
                Continuar con Facebook
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-margin-top">
            <ion-col size="12" class="ion-no-padding">
              <ion-button (click)="logInByApple()" expand="block" color="light" class="ion-text-uppercase">
                <ion-icon name="logo-apple" slot="start"></ion-icon>
                Continuar con Apple
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-justify-content-center"
      *ngIf="spaceService.spaces[1] && spaceService.spaces[1].files.length">
      <ion-col size="12" class="ion-padding-bottom ion-text-center">
        <ion-label color="success" class="text-12">Patrocinado por:</ion-label>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <img-loader useImg class="patrocinador" [src]="spaceService.spaces[1].files[0].path"></img-loader>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
