ion-content {
  position: relative;
  display: flex;
  align-items: center;
  img-loader {
    filter: grayscale(1);
    position: absolute;
    z-index: 0;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    object-fit: cover;
    background-position: center !important;
    background-size: cover !important;
  }
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
    --background: linear-gradient(
      to bottom,
      rgba(var(--ion-color-secondary-rgb), 1),
      rgba(var(--ion-color-primary-rgb), 0.5),
      rgba(var(--ion-color-secondary-rgb), 1)
    );
  }

  ion-item {
    &.item-has-focus {
      ion-label {
        padding-left: 0;
      }
    }

    border-color: var(--ion-color-success);
    --border-color: var(--ion-color-success);
    background: transparent;
    --background: transparent;

    ion-label {
      padding-left: 1rem;
      --color: var(--ion-color-success);
    }
    ion-input {
      --color: var(--ion-color-light);
    }

    &.item-has-focus {
      border-color: var(--ion-color-warning);
      --border-color: var(--ion-color-warning);
      ion-label {
        --color: var(--ion-color-warning);
      }
    }
  }

  ion-grid {
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    position: relative;
    z-index: 5;
  }

  ion-row {
    transition: all 0.25s linear;
    &.a-bottom {
      max-height: 0;
      opacity: 0;
      &.a-normal {
        max-height: 50vh;
        &.show {
          opacity: 1;
        }
      }
    }
    .patrocinador{
      position: relative;
      width: 100% !important;
      height: auto !important;
      background-size: 100% !important;
      background-position: center !important;
    }
  }
}

